@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = $"Computer {Model.Id}";
}

<h1>@ViewData["Title"]</h1>

<p><b>Id: </b> @Model.Id</p>
<p><b>Ram: </b> @Model.Ram</p>
<p><b>Processor: </b> @Model.Processor</p>

<a class="btn btn-primary" asp-action="Update" asp-route-id="@Model.Id">Editar</a>
<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>